
@media (max-width: 865px){
  .close_button i{
    font-size:24px;
  }
}

.close_button {
  font-size: 16px;
  letter-spacing: normal;
  color: #323c46;
  padding-top:0;
}

.close_button i{
  font-size:20px;
  padding-right:6px;
}

.close_link {
  margin-bottom :50px;
}