.create_event_form {
  max-width: 480px;
}

.create_event_form button {
  align-items: center;
}

@media (max-width: 864px){

  .create_event_form .heading, .create_event_form .subheading {
    text-align: center;
  }

  .create_event_form button {
    text-align: center;
  }

  .button_container {
    text-align: center;
  }

}
