.events_container {
  display:flex;
  flex-wrap:wrap;
  justify-content: left;
  margin-right: -15px;
}

.events_container .event_card {
  margin-right:15px;
  margin-bottom:15px;
}

.events_header {
  width : 100%;
  margin-bottom : 23px;
}

.events_header button{
  font-size:12px;
}

.events_wrapper {
  width:100%;
}

.list_switcher { 
  float:right;
}

@media (min-width: 865px){
  .list_switcher button {
    height: 52px;
  }
}

.list_switcher button:first-child {
  padding-right: 10px;
}

.event_filter_text {
  font-size: 12px;
  display:inline;
  color: #a9aeb4;
  font-weight: 600;
}

.event_filter_dropdown {
  color: #323c46;
}