.login_form{
  text-align: left;
  max-width: 350px;
}

.login_form h2{
  margin-bottom: 0px;
}

.login_form h4{
  margin-top: 6px;
}

@media (max-width: 865px){
  .login_form h2, .login_form h4 {
    text-align:center;
  }

  .login_form .options_container{
    text-align: center;
  }
}