.main_wrapper{
  padding: 0px 43px;
}

.header_wrapper {
  padding: 39px 0px;
}

.content_wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 77px;
  min-width: 300px;
}

.left_banner .left_banner_img{
  top:0px;
  left:-1px;
  position:absolute;
  height:100%;
  min-width: 375px;
  min-height: 800px;
}

.split_layout_content{
  display:inline-block;
  position:absolute;
  top:30%;
  right:10%;
  left:50%;
}

.split_layout_content_wrapper .error_text {
  color :#949ea8;
  font-size:18px;
}

.split_layout_content_wrapper .error_button {
  margin-top:40px;
}

.trooper_background {
  background-size: 446px;
  background-repeat: no-repeat;
  background-position: 250px -60%;
  background-image: url('../../resources/icons/trooper-icon.png')
}

@media (max-width: 865px){
  .content_wrapper {
    margin: 0;
  }

  .main_wrapper{
    padding: 0px 20px;
  }

  .left_banner{
    display:none;
  }

  .trooper_background .split_layout_content_wrapper{
    text-align:center;
  }

  .split_layout_content{
    top:auto;
    right:20%;
    left:25%;
  }
}