
.button{
  width: 100px;
  height: 32px;
  border-radius: 4px;
  color: var(--color-font-secondary);
  background-color: var(--color-primary);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  /* display:block; */
}

.button:hover {
  background-color: var(--color-primary-active)
}

.button_big{
  width: 240px;
  height: 57px;
  font-size: 16px;
}

.button_pink{
  background-color: var(--color-secondary);
}

.button_pink:hover {
  background-color: var(--color-secondary-active);
}

.button_grey {
  background-color: var(--color-tertiary);
  color: var(--color-font-tertiary);
}

.button_grey:hover {
  background-color: var(--color-tertiary-active);
}

.button_darkgrey {
  color: #fff;
  background-color: #323c46;
}

.button_darkgrey:hover {
  background-color: #555d5a;
}

.button_circle {
  background-color: var(--color-quarternary);
  width: 56px;
  height: 56px;
  border-radius:100px;
  font-size: 28px;
  font-weight:200;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.15);
}

.button_circle:hover {
  background-color: var(--color-quarternary-active);
}

.button_text {
  line-height: 1.71;
  font-family: Hind;
  padding: 16px 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}

.pink_font {
  color: var(--color-secondary);
}

.bold {
  font-weight:500;
}

.grey_font {
  color: #949ea8;
}

.light_grey_font {
  color: #ccd0d9;
}

.button_text:hover {
  text-decoration: underline;
}

.button_text i {
  font-size:16px;
  vertical-align: sub;
  padding-right: 8px;
}

.button_dropdown {
  height: 24px;
  font-family: Hind;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-decoration: none;
}

.button_dropdown i {
  font-size:16px;
  vertical-align: sub;
  padding-left: 4px;
}
