:root{
  --input_hint_color: #c9ced3;
  --input_text_color: #323c46;
  --input_underline_color: #dae1e7;
}

.e-float-input{
  font-family: Hind;
  font-size: 18px;
  color: var(--color-silver-three);
}

.e-float-input input {
  padding-bottom:4px;
  border-color: var(--input_underline_color)!important;
}

.e-float-text{
  color: var(--input_hint_color)!important;
}


/* Hide browser default hints for input fields, especially Date and Time
   Tested on chrome V70 and firefox 63 only*/
input:not( :focus ) {
  color: transparent !important;
}

input:valid {
  color: var(--input_text_color) !important;
}
