:root{
  --heading_color: #323c46;
  --sub_heading_color: #949ea8;

  --error_font_color: #fc226e;
}

.error_font_color{
  color: var(--error_font_color) !important;
}

.icon_text i{
  vertical-align: sub;
  padding-right: 8px;
}

.heading_component {
  font-family: Hind;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--heading_color);
}

.sub_heading_component {
  font-family: Hind;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--sub_heading_color);
}

.light_grey_font {
  color: #ccd0d9;
}