:root{
  --deselected_color : #a9aeb4;
  --selected_color: #323c46;
}

.switcher_button {
  padding-right: 25px;
  font-weight:600;
}

.switcher_icon_button {
  cursor: pointer;
}

.button_switcher_wrapper {
  display: inline;
  color: var(--deselected_color);
}

.button_switcher_wrapper .selected {
  color: var(--selected_color);
}

.switcher_button:hover {
  text-decoration: none;
}
