.popup_menu{
  display:block;
  position:absolute;
  margin-top:10px;
  padding: 12px;
  width: 150px;
  font-size:14px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 9;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  color: #9ca5af;
}

@media (max-width: 865px){
  .popup_menu{
    width:auto;
  }
}

@media (min-width: 865px){
  /* .popup_menu:after {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 100px;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 10px #fff;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }

  .popup_menu:before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 17px;
    height: 17px;
    bottom: 90%;
    left: 130px;
    right: 0;
    background-color: #fff;
    z-index: 3;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
} */
}

.popup_menu *{
  margin: 2px 0;
}

.popup_menu button {
  display:block;
}