.event_card{
  width: 300px;
  flex-grow : 2;
  height: 246px;
  padding: 32px;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
  background-color: #fff;
  position:relative;
}

.event_list_card {
  white-space: nowrap;
  width: 100%;
  padding: 0 22px;
  margin: 10px 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
  background-color: #fff;
  overflow:hidden;
}

.event_list_card .capacity {
  font-size: 14px;
  color: #949ea8;
}

.event_list_card .title {
  font-size: 18px;
  color: #323c46;
}

.event_list_card .description {
  font-size: 16px;
  color: #949ea8;
} 

.event_list_card .owner {
  font-size: 14px;
  color: #7d7878;
}

.event_list_card .date {
  font-size: 14px;
  color: #cacdd0;
}

.event_card_bottom {
  position:absolute;
  width:100%;
  bottom:20px;
  color: #949ea8;
}

.event_card_bottom button {
  float:right;
  margin-right: 63px;
}


.event_card .starts_at{
  font-size: 14px;
  line-height: 1.71;
  color: #cacdd0;
  margin: 0px;
}

.event_card .heading {
  font-size: 22px;
  line-height: 2.18;
  color: #323c46;
  margin-bottom:0px;
  margin-top:8px;
}

.event_card .owner {
  margin:0px;
  color: #7d7878;
  font-size:14px;
  line-height: 1.71;
}

.event_card .description {
  font-size: 16px;
  line-height: 1.5;
  color: #949ea8;
  margin-top: 24px;
  margin-bottom: 16px;
}

@media (max-width: 864px){
  .event_list_card{
    padding:20px;
    display:block;
  }

  .event_list_card button {
    float:right;
    margin-top:-10px;
  }

  .event_list_card .date {
    margin-top:10px;
  }

  .event_list_card .capacity {
    display:inline;
  }

  .event_list_card *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}

@media (min-width: 865px){
  .event_list_card *{
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .event_list_card .capacity {
    width: 7%;
  }

  .event_list_card .owner {
    width:12%;
  }
}