
.dropdown_placeholder {
  display:inline-block;
  width:40px;
  height:40px;
  border-radius:100px;
  text-align: center;
  line-height:40px;
  font-size: 16px;
  margin-top:-4px;
  background-color: var(--color-tertiary);
  color: var(--color-font-tertiary);
  margin-right: 10px;
}

@media (max-width: 865px){
  .dropdown_placeholder{
    margin-right:0px;
  }
}
