@import "../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";

:root {
  --color-primary: #22d486;
  --color-primary-active: #20be78;

  --color-secondary: #ff4081;
  --color-secondary-active: #e73370;

  --color-tertiary: #d9dce1;
  --color-tertiary-active: #c4c9d1;

  --color-quarternary: #323c46;
  --color-quarternary-active: #555d5a;

  --color-font-primary: #323c46;
  --color-font-secondary: #ffffff;
  --color-font-tertiary: #a9aeb4;

  --color-pale-grey: #dae1e7;
  --color-silver-three: #c9ced3;
  --color-silver-two: #d2d6da;

  --font-primary: Hind;
}

body{
  font-family: var(--font-primary);
  margin: 0px;
  background: #f9f9fb;
  color: var(--color-font-primary)
}


button,input, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
  text-decoration: none;
  color:inherit;
}

.white_background {
  background-color: #ffffff;
}

.float_right {
  float:right;
}

.inline {
  display:inline;
}

.center_text {
  text-align:center;
}

.bold {
  font-weight:600;
}

.card {
  padding: 32px;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
  background-color: #fff;
}